<%- include('../includes/head')%>

</head>
<body>
    <!-- navigation -->
    <%- include('../includes/admin-navigation')%>
    

    <div class="row mx-0">
        <!-- sidebar  -->
        <%- include('../includes/admin-sidebar')%>
        <!-- shop items -->
        <div class="px-5 col-10">ADMIN‌ Dashboard</div>
    </div>

    <%- include('../includes/end')%>
