<% if(!!user && user.accessLevelId == 2) {%>
<ul class="nav nav-pills bg-dark p-0">
    <li class="nav-item btn-sm btn-secondary rounded-0">
        <a class="nav-link text-white p-0"  href="/">سایت</a>
    </li>
    <li class="nav-item btn-sm btn-secondary rounded-0">
        <a class="nav-link text-white p-0"  href="/admin">داشبورد</a>
    </li>
</ul>

<% } %>
