<footer class="text-white text-center py-3 bg-dark">
    shokpa shop
</footer>
<!-- <script src="/js/popper.js"></script> -->
<!-- <script src="/js/bootstrap.bundle.min"></script> -->
<!-- <script src="/js/jquery-3.5.1.slim.min.js"></script> -->
<script src="/js/bootstrap.min.js"></script>



</body>

</html>