<!-- bottom navigation -->
<nav>
    <ul class="nav justify-content-center bg-light" style="font-weight: 700;">
        <% for(let category of categories) { %>
            <li class="nav-item">
                <a class="nav-link d-flex flex-column align-items-center text-muted" href="<%= '/shop/?categoryId='+category.id %>">
                    <!-- <img src="/favicon.png" alt="<%= category.title  %>"> -->
                    <%= category.title %>
                </a>
            </li>
        <% } %>
    </ul>
</nav>