<%- include('../includes/head')%>

</head>
<body>
    <!-- navigation -->
    <%- include('../includes/menu')%>
    
    <div class="alert alert-danger text-center" role="alert">
        <h3 style="font-weight: 700;" class="mb-0 py-3">مشکلی در سیستم رخ داده</h3>
    </div>

    <!-- END -->
    <%- include('../includes/end')%>